# List of ignores most of which are not needed for the original distribution
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.stackdump
*.log

# doc files
*.aux
*.bbl
*.blg
*.dim
*.log
*.pdf
*.toc
*.upa
*.upb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
# /configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache

#
examples/arcs.tex
examples/arrowheads.tex
examples/arrows.tex
examples/basictests.tex
examples/diag.1
examples/diag.eps
examples/diag.fig
examples/diag.log
examples/diag.mp
examples/diag.mpx
examples/diag.pdf
examples/diag.pic
examples/diag.tex
examples/diagA.eps
examples/diagA.pdf
examples/man.aux
examples/man.dvi
examples/man.log
examples/man.ps
examples/man.tex
examples/man01.tex
examples/man02.tex
examples/man03.tex
examples/man04.tex
examples/man05.tex
examples/man06.tex
examples/man07.tex
examples/man08.tex
examples/man09.tex
examples/man10.tex
examples/man11.tex
examples/man12.tex
examples/man13.tex
examples/man14.tex
examples/man15.tex
examples/man16.tex
examples/man17.tex
examples/man18.tex
examples/man19.tex
examples/man20.tex
examples/man21.tex
examples/man22.tex
examples/man24.tex
examples/man25.tex
examples/man26.tex
examples/man28.tex
examples/man29.tex
examples/man30.tex
examples/man31.tex
examples/man32.tex
examples/man33.tex
examples/man34.tex
examples/man35.tex
examples/man36.tex
examples/man45.tex
examples/man46.tex
examples/man47.tex
examples/man48.tex
examples/man49.tex
examples/mode.tex
examples/tst.aux
examples/tst.dvi
examples/tst.log
examples/tst.pdf
examples/tst.pfg
examples/tst.ps
examples/tst.svg
examples/tst.tex
examples/tst-mfpic.600gf
examples/tst-mfpic.log
examples/tst-mfpic.mf
examples/tst-mfpic.pk
examples/tst-mfpic.tfm
